ipykernel
ipython
PyWavelets
scikit-image
protobuf==3.20.0
tensorflow-gpu==2.8.0
torch==1.10.2
torchvision==0.11.3
joblib
git+https://github.com/abhinaukumar/videolib
opencv-python
imageio
easydict
scipy
matplotlib
